* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  z-index: 0;
}

html {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
}

html,
body {
  width: 100%;
  height: 100%;
}

#app {
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-columns: 1fr;
  gap: 0px;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

#app-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 0px;
}

#app-body {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 0px;
  overflow-y: scroll;
}

.sheet {
  width: 100%;
  height: 100%;
  overflow: scroll;
}

table {
  width: 100%;
  height: 100%;
  /* background: #3E795E; */
  overflow: scroll;
  border-collapse: collapse;
  background: #F2F2F2;
}


.sheet {
  width: 100%;
  height: 100%;
  overflow: scroll;
}
tr {
  width: 100%;
  height: 100%;
}

.cell {
  width: 120px;
  height: 30px;
  border: 1px solid #D6D6D6;
  /* background: #3E795E; */
  overflow: scroll;
}

.row-id {
  width: 40px;
  /* height: 30px; */
  background: #D4D4D4;
  border-right: 1px solid #A4A4A4;
  border-bottom: 1px solid #A4A4A4;
}

.column-id {
  height: 30px;
  background: #D4D4D4;
  border-bottom: 1px solid #A4A4A4;
  border-right: 1px solid #A4A4A4;
}


/* 
table {
  display: grid;
  border-collapse: collapse;
  min-width: 100%;
  grid-auto-rows: 40px ;
  grid-template-columns: 
    40px
    minmax(150px, 1.67fr)
    minmax(150px, 3.33fr)
    minmax(150px, 1.67fr)
    minmax(150px, 3.33fr)
    minmax(150px, 1.67fr);
}

tbody,
tr {
  display: contents;
}

th,
td {
  padding: 15px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
 */
