* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  z-index: 0;
}

html {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
}

html,
body {
  width: 100%;
  height: 100%;
}

#app {
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-columns: 1fr;
  gap: 0px;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

#app-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 0px;
}

#app-body {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  gap: 0px;
  overflow-y: scroll;
}

.container {
  /* display: flex; */
  /* flex-direction: row; */
  /* justify-content: flex-start; */
  /* align-items: flex-start; */
  gap: 0px;
  overflow-y: scroll;
}

#grid-container {
  position: relative;
  width: 400px;   /* viewport width */
  height: 300px;  /* viewport height */
  overflow: auto;
  border: 0px solid #888;
  font-family: sans-serif;
}

#grid-inner {
  position: relative;
  /* total size of grid, not what's rendered */
}
#worksheet-body-inner {
  position: relative;
  /* total size of grid, not what's rendered */
}

.cell {
  position: absolute;
  width: 90px;
  height: 30px;
  box-sizing: border-box;
  /* border-right: 0.5px solid #ddd; */
  display: flex;
  align-items: center;
  justify-content: center;
  background: #fafafa;
}

#left-bound{
  height: 0;
  width: 0;
}